body, html {
  font-family: "Helvetica","Arial";
  font-size: 14px;
  color: #555;
  background: #f9f9f9;
}

h1 {
  font-size: 1.5em;
  font-style: bold;
  text-align: center;
}

h1.closing {
  font-size: 3em;
}

h4 {
  margin: 0 auto;
  width: 700px;
}

p {
  margin: 15px auto 30px;
  padding: 5px;
  width: 700px;
  line-height: 1.5em;
}

p span {
  font-weight: bold;
  font-style: italic;
}

p.notice {
  border: 1px dashed #f4e183;
  background: #f9f6dc;
  font-style: italic;

  -webkit-box-shadow: 1px 1px 10px #ccc;
  box-shadow: 1px 1px 10px #ccc;
}

p.code-block {
  padding: 10px;
  border: 1px solid #ddd;
  background: #eee;  
}

div.slide-controller {
  position: relative;
  margin: 0 auto;
  width: 700px;
  z-index: 99;
}

div.slide-controller a {
  position: absolute;
  display: block;
  margin: 190px 15px 0 15px;
  width: 27px;
  height: 27px;
  text-align: center;
  text-decoration: none;
  color: #ccc;
  opacity: 0.5;

  -webkit-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;
}

div.slide-controller a:hover, div.slide-controller a:active {
  opacity: 1.0;
}

div.slide-controller a#previousSlide {
  left: 0;  
  background: url('images/arrow_left.png') no-repeat;
}

div.slide-controller a#nextSlide {
  right: 0;
  background: url('images/arrow_right.png') no-repeat;
}

div.show-wrapper {
  position: relative;
  margin: 0 auto;
  width: 700px;
  height: 400px;
  overflow: hidden;
  background: url('images/fabric-texture.png') repeat;

  -webkit-box-shadow: 1px 1px 10px #111;
  box-shadow: 1px 1px 10px #111;
}

ul.slides-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  list-style: none;  
}

ul.slides-wrapper li.slides {  
  overflow: hidden;
}

ul.slides-wrapper li.slides.slideIn {
  position: relative;
  float: left;
}

ul.slides-wrapper li.slides.fadeIn {
  position: absolute;
  z-index: 0;
}

ul.slides-wrapper li.slides img {
  width: 700px;
  height: 400px;
}

div.bottom-wrapper {
  position: absolute;
  width: 700px;
  height: 15px;
  bottom: 10px;
  z-index: 99;
}

div.bottom-wrapper div.paginate-wrapper {
  position: relative;
  margin: 0;
  left: 45%;
  width: 700px;
  height: 30px;
}

ul.page-wrapper {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 700px;
  list-style: none;
}

div.bottom-wrapper div.paginate-wrapper ul.page-wrapper li.page {
  float: left;  
}

div.bottom-wrapper div.paginate-wrapper ul.page-wrapper li.page a {
  display: block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 30px;
}

div.bottom-wrapper div.paginate-wrapper ul.page-wrapper li.page a.active {
  background: #222;
}

div.contents {
  position: relative;
  margin: 80px auto 20px;
  width: 700px;
}

div.contents a, div.contents a:visited {
  color: #444;
  font-style: italic;
  text-decoration: underline;
}

div.contents a:hover, div.contents a:active {
  color: black;
}

div.footer {
  position: relative;
  margin: 20px auto 20px;
  width: 700px;
}

div.footer p {
  text-align: center;
  color: #999;
}

div.footer p a, div.footer p a:visited {
  color: #444;
}

div.footer p a:hover, div.footer p a:active {
  color: black;
}